.notificationsMenu {
    display: flex;
    flex-direction: column;
    gap: 8px;

    height: 100%;
    padding: 8px;
    padding-top: 32px;
    overflow-y: auto;
}

.notificationsMenu > p {
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 16px black;
    opacity: 0.8;
}