.formField {
    display: flex;
    flex-direction: column;
}

.formField > label {
    margin: var(--spacing-1);
}

.formField > input {
    padding: var(--spacing-2);
    border: 1px solid black;
    border-radius: var(--spacing-2);
}

.formField > small {
    margin: var(--spacing-1);
    color: var(--destructive-color);
    font-size: var(--font-size-0);
    font-weight: bold;
}